<!Doctype html>
<html lang="en">
<head>
  <title>HASTE-o-matic</title>
  <link rel='stylesheet' type='text/css' href='styles.css'>
  <script type='text/javascript' src='https://knockoutjs.com/downloads/knockout-3.5.1.debug.js'></script>
  <script type='text/javascript' src='./knockout.mapping-latest.debug.js'></script>
  <script type='text/javascript' src='./demo-ih-model.js'></script>
</head>
<body>

<div id="treeview-container">

  <ul data-bind="template: { name: 'itemTmpl', foreach: $data.tiers }" id="treeview"
      style="padding-left: 0px"
  ></ul>

  <script id="itemTmpl" type="text/html">
    <div style="background: black; padding: 3px"
         data-bind="style: { background: getColor(color) },
                    class: isSelected() ? 'selected' : '',
                    click: treeview_item_clicked">
      <div data-bind="text:' Tier ' + friendlyTierId()" style="font-weight: bold"></div>
      <div class='minor_tier_info' data-bind="text:jexlExpression()"></div>
      <div class='minor_tier_info' data-bind="text:'Input Documents in Tier: ' + SUM_OF_LOG_END_OFFSETS()"></div>
      <div class='minor_tier_info' data-bind="text:'Processed: ' + parseFloat(SUM_OF_CURRENT_OFFSETS()/SUM_OF_LOG_END_OFFSETS() * 100).toFixed(2) + '% ' "></div>
    </div>
  </script>

  <button onclick="refreshTiers()">
    Refresh...
  </button>

  <button onclick="addTier()">
    Add Tier...
  </button>

</div>

<div id="editor-container">

  <div id="editor" data-bind="with: selectedNode">
    <h2 data-bind="text:' Tier ' + friendlyTierId()"></h2>

    <code data-bind="html:jexlExpression()"
    style="border: lightgrey 1px solid; margin: 5px"></code>
    <div data-bind="text:'Messages Processed: ' + parseFloat(SUM_OF_CURRENT_OFFSETS()/SUM_OF_LOG_END_OFFSETS() * 100).toFixed(2) + '% ' "></div>
    <div class='minor_tier_info' data-bind="text:'SUM_OF_CURRENT_OFFSETS ' + SUM_OF_CURRENT_OFFSETS()"></div>
    <div class='minor_tier_info' data-bind="text:'SUM_OF_LOG_END_OFFSETS ' + SUM_OF_LOG_END_OFFSETS()"></div>
    <div class='minor_tier_info' data-bind="text:'Unique Tier ID: ' + uniqueTierId()"></div>
    <div class='minor_tier_info' data-bind="text:'Kafka App ID: ' + kafkaApplicationID()"></div>

    <div class='minor_tier_info' data-bind="text:'Input Topic: ' + inputTopic()"></div>
    <div class='minor_tier_info' data-bind="text:'Output Topic: ' + outputTopic()"></div>

    <div data-bind="if: ((tierIndex() + 1) == demo_ih_model.tiers().length)"
         style="margin-top: 20px">
      <button onclick="removeTier()">
        Remove this Tier
      </button>
    </div>

    <div>
      Output Data Sample:
    </div>
      <code data-bind="html:sampleJSON()"
            style="border: lightgrey 1px solid; margin: 5px"></code>

  </div>

</div>
</body>
</html>